{% extends 'base.html' %}
{% load static %}
{% block title %} CLOCK WORK REMINDER & NOTES {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    textarea{
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: auto;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;

  &:focus{
    border: none;
    outline: none;
  }
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <h6 class="mb-0">Take Notes: </h6>
                  <div id="progress-bar-ajax">


                  </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Headline</label>
                  <input style="background-color: #e9ecef" class="form-control color-background" type="text" value="Headline" id="headline-input" name="headline-input">
                </div>
                <div class="form-group">
                  <label for="example-email-input" class="form-control-label">Receivers Emails (use space to fill multiple emails)</label>
                  <input style="background-color: #e9ecef" class="form-control" type="email" value="Enter emails" id="emails-input" name="emails-input">
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label" >Content</label>
                  <textarea  style="background-color: #e9ecef" class="form-control autoExpand" name="content-input" rows="3" cols="50" id="content-input"> Type here ... </textarea>
                </div>
                <div class="form-check form-switch" style="margin-left: 10px">
                  <input  class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="is_scheduled" >
                  <label class="form-check-label" for="flexSwitchCheckDefault">Schedule</label>
                </div>
                <div class="form-group" id="datetime-input-div">
                </div>
                  <div id="submit-button-div">
                      <button id="submit-button-ajax" type="button" class="btn btn-primary btn-lg w-100">Email Note with Ajax</button>
                      <button id="submit-button-channels" type="button" class="btn btn-primary btn-lg w-100">Email Note with Channels</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>
    {{ room_name|json_script:"room-name" }}
{% endblock content %}

  <!-- Jquery/AJAX -->
  <script src="{% static 'js/jquery.js' %}"></script>
<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const notificationSocket = new WebSocket(
        ws_scheme +'://'
        + window.location.host
        + '/ws/notification/'
        + roomName
        + '/'
    );

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        //document.querySelector('#chat-log').value += (data.message + '\n');
        console.log(data);
        document.getElementById("notifications-dropdown").innerHTML =
            {#"<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;#}
            '<li class="mb-2">' +
             ' <a class="dropdown-item border-radius-md" href="javascript:;">' +
               ' <div class="d-flex py-1">' +
                 ' <div class="my-auto">' +
                    '<img src="/static/assets/img/notify-icon.svg" class="avatar avatar-sm  me-3 ">' +
'                  </div>'+
       '           <div class="d-flex flex-column justify-content-center">'+
                  '  <h6 class="text-sm font-weight-normal mb-1">'+
                      '<span class="font-weight-bold">'+ data +'</span>'+
              '      </h6>'+
                 '   <p class="text-xs text-secondary mb-0 ">'+
                    '  <i class="fa fa-clock me-1"></i>'+
                     new Date() +
        '            </p>'+
          '        </div>'+
          '      </div>'+
          '    </a>'+
           ' </li>'
            + document.getElementById("notifications-dropdown").innerHTML;
        document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
    };

    notificationSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


     function getScrollHeight(elm){
          var savedValue = elm.value
          elm.value = ''
          elm._baseScrollHeight = elm.scrollHeight
          elm.value = savedValue
     }

     function onExpandableTextareaInput({ target:elm }){
          // make sure the input event originated from a textarea and it's desired to be auto-expandable
          if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return

          var minRows = elm.getAttribute('data-min-rows')|0, rows;
          !elm._baseScrollHeight && getScrollHeight(elm)

          elm.rows = minRows
          rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 16)
          elm.rows = minRows + rows
     }

    // global delegated event listener
    document.addEventListener('input', onExpandableTextareaInput)



    $('#flexSwitchCheckDefault').on('click', function (){
       {#alert('clicked');#}
       if ($(this).is(':checked')) {
            $('#datetime-input-div').html('<label for="example-datetime-local-input" class="form-control-label">Choose Date and Time</label>' +
                '<input class="form-control" type="datetime-local" value="2018-11-23T10:30:00" id="datetime-input" name="datetime-input">'
            )
            $("#datetime-input").val(new Date().toJSON().slice(0,19));
            $('#submit-button-ajax').text('Schedule Reminder with AJAX')
            $('#submit-button-channels').text('Schedule Reminder with Channels')
        }
       else {
           $('#datetime-input-div').html('')
           $('#submit-button-ajax').text('Email Note with AJAX')
           $('#submit-button-channels').text('Email Note with Channels')
        }
    });





     $('#submit-button-ajax').click(function () {
        var headline = $('#headline-input').val();
        var content = $('#content-input').val();
        var emails = $('#emails-input').val();
        var scheduled = $('#flexSwitchCheckDefault').is(':checked');
        if (scheduled){
             var datetime = $('#datetime-input').val();
             $.ajax({
                 type: 'POST',
                 url: "{% url 'schedule_mail' %}",
                 data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        headline: headline,
                        content: content,
                        emails: emails,
                        datetime: datetime
                    },
                 dataType: 'json',
                 success: function(data) {
                    Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: data.message,
                        }).then(() => {
                            {#location.reload();#}
                        }
                    )
                 },
                 error: function(data){
                     Swal.fire({
                            title: 'Oops...',
                            text: "Reminder Cannot be Set",
                            icon: 'error',
                        });
                        return false;
                 }
            });
        }
        else{
            $.ajax({
             type: 'POST',
             url: "{% url 'send_mail' %}",
             data: {
                    headline: headline,
                    content: content,
                    emails: emails,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
             dataType: 'json',
             success: function(data) {
                      $('#progress-bar-ajax').html('<div class="progress-wrapper"><div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 0%;">&nbsp;</div></div>' +
                        '<div id="progress-bar-message">Waiting for progress to start...</div>'
                      )
                      $(function () {
                          var progressUrl =  'celery-progress/' +  data.task_id + '/';
                          CeleryProgressBar.initProgressBar(progressUrl);
                      });
             },
             error: function(data){
                 Swal.fire({
                        title: 'Oops...',
                        text: "Notes Cannot be Sent",
                        icon: 'error',
                    });
                    return false;
             }
            });
        }
     });

     $('#submit-button-channels').click(function () {
        var headline = $('#headline-input').val();
        var content = $('#content-input').val();
        var emails = $('#emails-input').val();
        var scheduled = $('#flexSwitchCheckDefault').is(':checked');
        if (scheduled){
             var datetime = $('#datetime-input').val();
             $.ajax({
                 type: 'POST',
                 url: "{% url 'schedule_mail' %}",
                 data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        headline: headline,
                        content: content,
                        emails: emails,
                        datetime: datetime
                    },
                 dataType: 'json',
                 success: function(data) {
                    Swal.fire({
                            icon: 'success',
                            title: 'success',
                            text: data.message,
                        }).then(() => {
                            {#location.reload();#}
                        }
                    )
                 },
                 error: function(data){
                     Swal.fire({
                            title: 'Oops...',
                            text: "Reminder Cannot be Set",
                            icon: 'error',
                        });
                        return false;
                 }
            });
        }
        else{
            $.ajax({
                 type: 'POST',
                 url: "{% url 'web_socket_send_mail' %}",
                 data: {
                        headline: headline,
                        content: content,
                        emails: emails,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                 dataType: 'json',
                 success: function(data) {
                          $('#progress-bar-ajax').html('<div class="progress-wrapper"><div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 0%;">&nbsp;</div></div>' +
                            '<div id="progress-bar-message">Waiting for progress to start...</div>'
                          )
                          $(function () {
                              var progressUrl =  '/ws/progress/' +  data.task_id + '/';
                              CeleryWebSocketProgressBar.initProgressBar(progressUrl);
                          });
                 },
                 error: function(data){
                     Swal.fire({
                            title: 'Oops...',
                            text: "Notes Cannot be Sent",
                            icon: 'error',
                        });
                        return false;
                 }
            });
        }
     });

    </script>
{% endblock javascripts %}